@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Segoe UI', 'Microsoft JhengHei', '微軟正黑體', 'PingFang TC', 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif;
}

